<li class="rightside no-bulletin quick-style">
	<div class="style-wrapper">
		<form action="{S_QUICK_STYLE_ACTION}" method="post" class="style_form">
			<label for="quick_style">
				<span style="font-size:0.9em; vertical-align:middle">{L_QUICK_STYLE}{L_COLON} </span>
				<select name="quick_style" id="quick_style" style="font-size:0.9em;" onchange="this.form.submit();">{S_QUICK_STYLE_OPTIONS}</select>
			</label>
			<noscript>
				<div style="display:inline;">
					<input type="submit" value="{L_CHANGE}" class="button2" style="font-size:0.9em;" />
				</div>
			</noscript>
		</form>
	</div>
</li>
